.header {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include tablet-small {
        padding: 30px 0;
    }
    @include mobile {
        padding: 20px 0;
    }
    &__logo {
        @include text($ff, 600, 24px, 28px, $paragraph);
    }
    &__search {
        position: relative;
        input {
            @include text($ff, 400, 14px, 16px, $white);
            background: $black;
            display: inline-block;
            border: 0;
            border-radius: 50px;
            padding: 13px 18px;
            outline: none;
            padding-right: 35px;
            &::placeholder {
                color: $white;
            }
        }
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
        }
    }
}
.nav {
    &__ul {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__a {
        @include text($ff, 400, 16px, 19px, $black);
        transition: $transition;
        position: relative;
        &::before {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -3px;
            background: $primary;
            transition: $transition;
        }
        &:hover {
            color: $primary;
        }
        &._active {
            font-weight: 600;
            color: $primary;
            &::before {
                width: calc(100% - 10px);
            }
        }
        
    }
}

.nav-burger, .header__burger {
    display: none;
}

.nav-burger {
    @include tablet {
        display: flex;
        align-items: center;
    }


    #navBurger {
        display: block;
    }

    .material-icons {
        cursor: pointer;
    }

    .material-icons:hover {
        color: $primary;
    }

    .dn {
        display: none;
    }

    #navBurger.db {
        display: block;
    }
}

@media (max-width: 992px) {
    .header__logo {
        font-size: 22px;
        max-width: 120px;
    }
    .header__search {
        display: none;
    }
}

@media (max-width: 992px) {
    .nav__ul {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: auto;
		background: $darkpurple;
        left: 0;
        top: 0;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        z-index: 5;
        transition: $transition;
        transform: translateX(-120%);
    }

    .nav__ul._active {
        transform: translateX(0);
    }

    .nav-burger .material-icons {
        display: inline-block;
        position: fixed;
        top: 80px;
        right: 40px;
        color: $black;
        cursor: pointer;
    }

    .header__burger {
        display: inline-block;
        cursor: pointer;
    }

    .nav__a {
        font-size: 21px;
        line-height: 29px;
        color: #fff;
    }
    .icon-close {
        position: absolute;
        top: 80px;
        right: 40px;
    }

    .icon-menu,
    .icon-close {
	    display: none;

	    @include tablet {
		    display: inline-block;
	    }
}
}

@include tablet-small {
    .icon-close {
        position: absolute;
        top: 60px;
        right: 30px;
    }
    .nav-burger .material-icons {
        top: 60px;
        right: 30px;
    }
}

@include mobile {
    .icon-close {
        position: absolute;
        top: 50px;
        right: 30px;
    }
    .nav-burger .material-icons {
        top: 50px;
        right: 30px;
    }
}

    