.header {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    &__logo {
        @include text($ff, 600, 24px, 28px, $paragraph);
    }
    &__search {
        position: relative;
        input {
            @include text($ff, 400, 14px, 16px, $white);
            background: $black;
            display: inline-block;
            border: 0;
            border-radius: 50px;
            padding: 13px 18px;
            outline: none;
            padding-right: 35px;
            &::placeholder {
                color: $white;
            }
        }
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
        }
    }
}
.nav {
    &__ul {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__a {
        @include text($ff, 400, 16px, 19px, $black);
        transition: $transition;
        position: relative;
        &::before {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -3px;
            background: $primary;
            transition: $transition;
        }
        &:hover {
            color: $primary;
        }
        &._active {
            font-weight: 600;
            color: $primary;
            &::before {
                width: calc(100% - 10px);
            }
        }
        
    }
}

.nav-burger {
    display: none;
}

.nav-burger {
    @include mobile {
        display: flex;
        align-items: center;
    }


    #navBurger {
        display: none;
    }

    .material-icons {
        cursor: pointer;
    }

    .material-icons:hover {
        color: #8842F0;
    }

    .dn {
        display: none;
    }

    #navBurger.db {
        display: block;
    }
}








.nav__ul .material-icons {
    display: none;
}

.nav-burger {
    display: none;
    color: var(--color-primary-light);
}

@media (max-width: 492px) {
    .nav__ul {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow-y: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        z-index: 5;
        transform: translateX(120%);
    }

    .nav__ul._active {
        transform: translateX(0);
    }

    .nav__ul .material-icons {
        display: inline-block;
        position: fixed;
        top: 20px;
        right: 20px;
        color: var(--color-white);
        cursor: pointer;
    }

    .header__burger {
        display: inline-block;
        cursor: pointer;
    }
}